<h3> View User Details</h3>
<div>
    <div>
        <label> <b> id: </b></label> {{user.id}}
    </div>
    <div>
        <label> <b> username: </b></label> {{user.username}}
    </div>
    <div>
        <label> <b> name: </b></label> {{user.name}}
    </div>
    <div>
        <label> <b> age: </b></label> {{user.age}}
    </div>
    <div>
        <label> <b> gender: </b></label> {{user.gender}}
    </div>
    <div>
        <label> <b> email: </b></label> {{user.email}}
    </div>
    <div>
        <label> <b> password: </b></label> {{user.password}}
    </div>
    <div>
        <label> <b> phone: </b></label> {{user.phone}}
    </div>
    <div>
        <label> <b> role: </b></label> {{user.role}}
    </div>
    <div>
        <label> <b> tid: </b></label> {{user.tid}}
    </div>
    </div>
